*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc

.DS_Store


*.user
*.cache
/contrib/**/*.obj
/contrib/**/*.lst
/contrib/**/*.suo
/contrib/vstudio/**/*.dll
/contrib/vstudio/**/*.exe
/contrib/vstudio/**/*.ilk
/contrib/vstudio/**/*.map
/contrib/vstudio/**/*.res
/contrib/vstudio/**/*.pdb
/contrib/vstudio/**/*.lib
/contrib/vstudio/**/*.exp
/contrib/vstudio/**/*.tlog
/contrib/vstudio/**/*.log
/contrib/vstudio/**/*.idb
/contrib/vstudio/**/*.sdf
/contrib/vstudio/**/*.opensdf
/contrib/vstudio/**/Tmp/*
